extends ../layout/main-layout 

block styles
    link(rel="stylesheet", href="shop.css")

block content 
    if orderItems.length > 0
        .container.align-items-center.p-5
            .row.align-items-start.text-center
                h5.p-3.col.border.border-success Title
                h5.p-3.col.border.border-success Price
                h5.p-3.col.border.border-success Quantity
            -var totalPrice = 0, totalQuantity = 0;
            each orderItem in orderItems
                each order in orderItem.items
                    .row.align-items-start.text-center
                        p.p-3.col.border.border-success #{order.title}
                        - var totalProductPrice = `${order.price}` * `${order.quantity}`
                        - totalPrice += totalProductPrice
                        p.p-3.col.border.border-success #{totalProductPrice}
                        - totalQuantity += parseInt(`${order.quantity}`)
                        p.p-3.col.border.border-success #{order.quantity}

                .row.align-items-start.text-center
                        h5.p-3.col Total Price : #{totalPrice}
    else
        .container.align-items-center.p-5.d-flex.justify-content-center.my-4.flex-column
            h1.my-5 No items in order.
            a.d-block.justify-content-center.list(href=`/`)
                button.btn.btn-success(type="submit") Shop Now

    
               
    